.banner-article {
  padding-bottom: 20px;

  &-container {
    position: relative;

    .carousel-container {
      margin-bottom: 10px;
    }
  }
}

.carousel-item-padding-5-px {
  padding: 0 5px;

  &:first-child {
    padding: 0 5px 0 0;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 240px;
  background-color: white;
  height: 100%;

  picture {
    img {
      max-width: 100%;
      display: inherit;
      transition: 0.3s linear;
    }
  }

  .card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 15px;
      color: $brand-primary;
      margin-bottom: 5px;
      line-height: 18px;
    }

    p {
      font-size: 12px;
      margin-bottom: 5px;
    }

    a {
      font-size: 12px;
      color: $gray-secondary;
    }
  }
}
